:root{
    --backgroundColor: #424242;
    --backgroundTopBar: #212121;
    --textColor: #FF6600;
}

*{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100%;
    height: 90%;
    background-color: var(--backgroundColor);
}

header{
    width: 100%;
    height: 10%;
    background-color: var(--backgroundTopBar);
}