:root{
    --backgroundColor: #424242;
    --black: #212121;
    --textColor: #FF6600;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

main{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: var(--backgroundColor);
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

h1, h2{
    color: var(--textColor);
}

input {
    background: transparent;
    font: 32px "Roboto";
    font-weight: bold;
    text-align: center;
    color: var(--textColor);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.container{
    width: 50%;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h3{
    font-weight: 300;
    color: var(--textColor);
}

.buttons-box{
    width: 85%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    background: linear-gradient(180deg, #9e5220 0%, #424242 98.04%);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 100px;
    height: 40px;
    background-color: var(--black);
    color: var(--textColor);
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    main{
        height: 130vh;
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
  }